extends layout

block content
  include list
  h1 #{sanitizeTitle} 
  h2 #{sanitizeDescription}
  p
    a(href="/topic/create") 글쓰기 | 
    a(href="/topic/update/" + topicRe.id) 글수정

    form(action="/topic/delete_process" method="post")
        p
         input(type="hidden" name="id" value="#{topicRe.id}")
         input(type="hidden" name="users_id" value="#{topicRe.users_id}")
         input(type="submit" value="글삭제")

    p 닉네임 : #{topicNickname}
