list
    -var pagelength = filelist.length;
    a(href="/" + 1) [1]
    -var limit = 5;
    -var j = 1;
    -for(var i=0; i < filelist.length; i++){
        -if( pagelength > limit ){
                -j++;
                a(href="/" + j) [#{j}]
                -pagelength -=limit;    
            -}  
        -}
    ol
        -var maxPage=filelist.length;
        -var skip = (pageId-1)*limit;
        -if(!pageId){
            -for(var i=0 ; i<limit ; i++){
                -if(i === maxPage){
                    -break
                -}
                li
                    a(href="/topic/" + filelist[i].id) #{filelist[i].title} 
            -}
        -} else{
            -for(var j=0 ; j<limit ; j++){
                li
                    a(href="/topic/" + filelist[j+skip].id) #{filelist[j+skip].title}
                -if(maxPage % limit === j+1 && parseInt(pageId) === parseInt(maxPage/limit) +1){
                    -break;
                -}   
            -}
        -}